<div class="gc-kendo-grid">
  <kendo-grid [data]="gridView" [height]="500" [resizable]="true" [pageSize]="pageSize" [skip]="gridCurrentState.skip"
    [sort]="gridCurrentState.sort" [filter]="gridCurrentState.filter" [sortable]="{ mode: 'multiple'}" [pageable]="true"
    filterable="menu" [groupable]="groupable" [group]="gridCurrentState.group"
    [columnMenu]="{filter: {expanded: true}, columnChooser: false  }" (groupChange)="groupChange($event)"
    (dataStateChange)="dataStateChange($event)" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)"
    (add)="addHandler($event)" (save)="saveHandler($event)" (cancel)="cancelHandler($event)">
    <kendo-grid-messages [filter]="'Filtro'" [filterAfterOperator]="'Es superior a'"
      [filterAfterOrEqualOperator]="'Es superior a'" [filterAndLogic]="'Y'" [filterBeforeOperator]="'Es anterior a'"
      [filterBeforeOrEqualOperator]="'Es anterior o igual a'" [filterBooleanAll]="'Todo'"
      [filterClearButton]="'Limpiar'" [filterContainsOperator]="'Contiene'" [filterEndsWithOperator]="'Finaliza con'"
      [filterEqOperator]="'Es igual que'" [filterFilterButton]="'Filtrar'" [filterGtOperator]="'Es más grande que'"
      [filterGteOperator]="'Es más grande o igual que'" [filterIsEmptyOperator]="'Es vacío'"
      [filterIsFalse]="'Es falso'" [filterIsNotEmptyOperator]="'No está vacío'" [filterIsNotNullOperator]="'No es nulo'"
      [filterIsNullOperator]="'Es nulo'" [filterIsTrue]="'Es verdadero'" [filterLtOperator]="'Es menor que'"
      [filterLteOperator]="'Es menor o igual que'" [filterNotContainsOperator]="'No contiene'"
      [filterNotEqOperator]="'No es igual a'" [filterOrLogic]="'O'" [filterStartsWithOperator]="'Empieza con'"
      [pagerFirstPage]="'Ir a la primera página'" [pagerItems]="'registros'"
      [pagerItemsPerPage]="'registros por página'" [pagerOf]="'de'"
      [groupPanelEmpty]="'Arrastra una categoría a esta barra para agrupar'">
      ></kendo-grid-messages>

    <kendo-grid-column media="xs" title="Puestos">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <!-- template for mobile -->
        <h4 [class.discontinued]="dataItem.Discontinued">
          {{ dataItem.puestoId }}
        </h4>
        <dl>
          <dt>Código oficial</dt>
          <dd>{{ dataItem.puestoIdOficial }}</dd>

          <dt>Denominación</dt>
          <dd>{{ dataItem.puestoTipo?.nombre }}</dd>

          <dt>Inicio Fecha Vigencia</dt>
          <dd>{{ dataItem.fechaVigenciaInicio | date }}</dd>

          <dt>Disponibilidad</dt>
          <dd><input type="checkbox" [checked]="dataItem.disponibilidadPlena" disabled /></dd>
        </dl>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add new</button>
      <kendo-grid-spacer></kendo-grid-spacer>
      <input type="text" *ngIf="search" placeholder="Buscar puesto..." kendoTextBox
        (input)="onFilter($event.target.value)">
      <div (click)="showSearch()" class="k-button k-bare">
        <span class="k-icon k-i-search" matTooltip="Buscar puestos"></span>
      </div>
      <div (click)="showGroupable()" class="k-button k-bare">
        <span class="k-icon k-i-aggregate-fields" *ngIf="!groupable" matTooltip="Mostrar agrupar columnas"></span>
        <span class="k-icon k-i-align-remove" *ngIf="groupable" matTooltip="Desactivar agrupar columnas"></span>
      </div>
      <div kendoGridExcelCommand class="k-button k-bare">
        <span class="k-icon k-i-download" matTooltip="Descargar excel"></span>
      </div>
      <kendo-grid-column-chooser matTooltip="Mostrar columnas"></kendo-grid-column-chooser>
    </ng-template>
    <kendo-grid-column field="puestoId" title="Cód." [width]="100" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="puestoIdOficial" title="Código oficial" [width]="100" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="tipoVinculoNombre" title="TP" [width]="100" media="md">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.tipoVinculo?.nombre }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="puestoTipoNombre" title="Denominación" [width]="200" media="md">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.puestoTipo?.nombre }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="catalogoNombre" title="Catálogo" [width]="200" media="md">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.catalogo?.nombre }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="adscripcionNombre" title="Adscripción administración" [width]="200" media="md">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.adscripcion?.nombre }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="grupo1Id" title="G1" [width]="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="grupo2Id" title="G2" [width]="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="escalaNombre" title="Escala" [width]="400" media="md">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.escala?.nombre }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column type="checkbox" field="disponibilidadPlena" title="Disponibilidad" [width]="80" filter="boolean"
      media="md" editor="boolean">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.disponibilidadPlena" disabled />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="fechaVigenciaInicio" title="Inicio Fecha Vigencia" [width]="400" filter="date" media="md"
      editor="date">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.fechaVigenciaInicio | date}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="escala.nombre" title="Escala" [width]="400" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="escala.nombre" title="Escala" [width]="400" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="escala.nombre" title="Escala" [width]="400" media="md">
    </kendo-grid-column>
    <kendo-grid-excel fileName="Puestos.xlsx"></kendo-grid-excel>
    <kendo-grid-command-column title="command" [width]="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand [primary]="true">Edit</button>
        <button kendoGridRemoveCommand>Remove</button>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
          {{ isNew ? "Add" : "Update" }}
        </button>
        <button kendoGridCancelCommand>
          {{ isNew ? "Discard changes" : "Cancel" }}
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>